<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="header">
                <h1>User Blog</h1>
            </div>
            <div class="content">
                <center>
                    <h1><b>
                        {{error}}!
                    </b></h1>
                    <br>
                    <b><i>
                        <a class="indexlink" href="/blog/">View all blog posts</a><br><br>
                        <a class="indexlink" href="/blog/newpost">New Post</a><br><br>
                        <a class="indexlink" href="/logout">Logout</a>
                    </i></b>
                </center>
            </div>
            <div class="footer">
            </div>
        </div>
    </body>
</html>