<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Blog-Index</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="header">
                <h1>User Blog</h1>
            </div>
            <div class="content">
                <div class="indexlinksdiv">
                    <center>
                        <b><i>
                            <a class="indexlink" href="/signup">New Here? Just Sign Up!</a>
                            <br>
                            <a class="indexlink" href="/login">Already a part of us? Then Login right here! </a>
                        </i></b>
                    </center>
                </div>
            </div>
            <div class="footer">
            </div>
        </div>
    </body>
</html>